<section class="login">
	<form class="formLogin" ng-Submit="login()">
		<table class="noborder">
			<tr>
				<td>
					<label for="username">Username</label>
				</td>
				<td>
					<input type="username" id="username" ng-model="user.username" placeholder="Username" class="form-control">
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password</label>
				</td>
				<td>
					<input type="password" id="password" ng-model="user.password" placeholder="Password" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">
					<button type="submit" class="btn btn-chirp">Login</button>
					<p class="text-error">{{error_message}}</p>
				</td>
			</tr>
		</table>
	</form>
</section>