<section class="">
	<div class="chartModal" ng-show="chartFlag">
		<div class="chartModalCont">
			<span class="closeModal btn btn-default" ng-click="hideChart()">
				<i class="fa fa-close"></i>
			</span>
			<div class="gChartOpt">
				<input type="checkbox" name="id" id="id" ng-model="setChartParam.indonesia" ng-change="reChart()">
				<label for="id" class="btn btn-default btn-sm"><i class="fa fa-check"></i><i class="fa fa-close"></i> Indonesia</label>
				<input type="checkbox" name="vi" id="vi" ng-model="setChartParam.vietnam" ng-change="reChart()">
				<label for="vi" class="btn btn-default btn-sm"><i class="fa fa-check"></i><i class="fa fa-close"></i> Vietnam</label>
				<input type="checkbox" name="ud" id="ud" ng-model="setChartParam.undocumented" ng-change="reChart()">
				<label for="ud" class="btn btn-default btn-sm"><i class="fa fa-check"></i><i class="fa fa-close"></i> Undocumented</label>
			</div>
			<div class="GChart" google-chart chart="GChartData"></div>
		</div>
	</div>

	<div class="commentWrap">
		<div class="commentCont">
			<div class="itemhead">
				<span>Trello Lists</span>
				<span class="visible-sm"></span>
			</div>
			<div class="commentContainer lists">
				<div ng-if="!trlData.length" class="emptyComments"><span>No Feeds Yet</span></div>
				<div ng-if="trlData.length > 0"  data-index="{{list.id}}" id="{{list.id}}" ng-repeat="list in trlData | orderBy:'pos':false" droppable>
					<div class="commentDiv list">
						<div class="cmtTitle">
							<span>{{list.name}} {{savedListIndex($index)}}</span>
							<div>
								<!-- <span style="font-size: 14px;">total: {{getTotal(list.id)}}</span> -->
							</div>
						</div>
						<div class="cardCol">
							<div class="cardCont">
								<span class="totalTime" style="font-size: 14px;">total Overall: {{list.total.format}}</span>
								<div>
									<div ng-if="!labelSet || card.card_label_filtered.indexOf(labelSet) != -1" class="commentItem ghost" data-index="{{card.id}}" id="{{card.id}}" ng-repeat="card in list.ghost | orderBy:'pos':false">
										<span class="comment">
											<!-- <span class="tick">"</span>  -->
											<!-- <textarea class="commentContent contentEditor"></textarea> -->
											<!-- <textarea class="form-control commentContent contentEditor" ng-keypress="checkEdit($event, $element.target)"></textarea> -->
											<span class="commentContent">{{card.card_name}}</span>
											<!-- <span class="tick">"</span> -->
											<span class="labelCont">
												<span class="labels label-colored colored-{{l.color}}" ng-repeat="l in card.card_label"></span>
											</span>
										</span>
										<!-- <span class="timeMod">moved: <span ng-hide="card.actions.length">not yet</span><time ng-show="card.actions.length" am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time></span> -->
										<span class="userName">
											<span>added: </span>
											<time am-time-ago='toDate(card.card_id)'></time>
										</span>

										<span class="lab">
											<!-- <span class="thin">moved</span> <time am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time>
											<span class="thin">from</span> {{card.actions[0].data.listBefore.name}} -->
											<span class="thin">Time Spent</span> {{card.total.format}}
										</span>

										<div class="lab history" ng-if="card.actions.length">
											<span>history: </span>
											<span class="hist" ng-repeat="h in card.history">
												<span>
													in <span class="name">{{h.name}}</span>
												</span>
												<span>
													&emsp;for <span class="total">{{h.total.format}}</span>
												</span>
											</span>
										</div>
										<!-- <listhistory ng-show="card.actions.length" class="lab history" list="list" index="{{$index}}"></listhistory> -->

										<button-group class="btn-group editBtn" ng-show="authenticated && comment.created_by === currentUser">
											<!-- <edit-btn></edit-btn>
											<del-btn></del-btn> -->
										</button-group>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="cardCont">
								<span class="totalTime" style="font-size: 14px;">total Current: {{list.total_list.format}}</span>
								<div ng-if="!list.cards.length" class="commentItem"><span class="comment">No Data</span></div>
								<div>
									<div ng-if="!labelSet || card.label_filtered.indexOf(labelSet) != -1" class="commentItem" data-index="{{card.id}}" id="{{card.id}}" ng-repeat="card in list.cards | orderBy:'pos':false" data-show="{{card.label_filtered.indexOf(labelSet)}}">
										<span class="comment">
											<!-- <span class="tick">"</span>  -->
											<!-- <textarea class="commentContent contentEditor"></textarea> -->
											<!-- <textarea class="form-control commentContent contentEditor" ng-keypress="checkEdit($event, $element.target)"></textarea> -->
											<span class="commentContent">{{card.name}}</span>
											<!-- <span class="tick">"</span> -->
											<span class="labelCont">
												<span class="labels label-colored colored-{{l.color}}" ng-repeat="l in card.labels"></span>
											</span>
										</span>
										<!-- <span class="timeMod">moved: <span ng-hide="card.actions.length">not yet</span><time ng-show="card.actions.length" am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time></span> -->
										<span class="userName">
											<span>added: </span>
											<time am-time-ago='toDate(card.id)'></time>
										</span>

										<span class="lab">
											<!-- <span class="thin">moved</span> <time am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time>
											<span class="thin">from</span> {{card.actions[0].data.listBefore.name}} -->
											<span>
												<span class="thin" ng-if="card.latest">Time Spent</span> {{card.latest.total.format}}
											</span>
											<span>
												<span class="thin" ng-if="!card.latest">Time Spent</span> {{card.total.format}}
											</span>
										</span>

										<div class="lab history" ng-if="card.actions.length">
											<span>history: </span>
											<span class="hist" ng-repeat="h in card.history">
												<span>
													in <span class="name">{{h.name}}</span>
												</span>
												<span>
													&emsp;for <span class="total">{{h.total.format}}</span>
												</span>
											</span>
										</div>
										<!-- <listhistory ng-show="card.actions.length" class="lab history" list="list" index="{{$index}}"></listhistory> -->

										<button-group class="btn-group editBtn" ng-show="authenticated && comment.created_by === currentUser">
											<!-- <edit-btn></edit-btn>
											<del-btn></del-btn> -->
										</button-group>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filterLabel label-colored" ng-class="filterLabel">
			<span class="btn btn-chirp btn-sm" ng-click="showChart()"><i class="fa fa-bar-chart"></i></span>
			<select ng-model="labelSet" ng-change="setLabel()">
				<option value="">all</option>
				<option ng-repeat="l in labels" value="{{l.id}}" data-color="{{l.color}}" id="{{l.id}}">{{l.name}}</option>
			</select>
		</div>
	</div>
</section>