<section class="container">
	<div class="commentWrap row">
		<div class="commentCont col-xs-12" ng-class="authenticated ? 'col-md-8 col-sm-7' : 'col-md-8 col-md-offset-2'">
			<div class="itemhead">
				<span>Trello Feeds</span>
				<span class="visible-sm"></span>
			</div>
			<div class="commentContainer row">
				<div ng-if="!trlData.length" class="emptyComments"><span>No Feeds Yet</span></div>
				<div ng-if="trlData.length > 0" class="commentDiv col-md-12" data-index="{{list.id}}" id="{{list.id}}" ng-repeat="list in trlData | orderBy:'pos':false" droppable>
					<div class="cmtTitle">
						<span>{{list.name}}</span>
					</div>
					<div ng-if="!list.cards.length" class="emptyComments"><span>No Chirps Yet</span></div>

					<div ng-if="list.cards.length > 0" class="commentItem" data-index="{{card.id}}" id="{{card.id}}" ng-repeat="card in list.cards | orderBy:'pos':false" draggable>
						<span class="comment">
							<span class="tick">"</span> 
							<!-- <textarea class="commentContent contentEditor"></textarea> -->
							<!-- <textarea class="form-control commentContent contentEditor" ng-keypress="checkEdit($event, $element.target)"></textarea> -->
							<span class="commentContent">{{card.name}}</span>
							<span class="tick">"</span>
						</span>
						<!-- <span class="timeMod">moved: <span ng-hide="card.actions.length">not yet</span><time ng-show="card.actions.length" am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time></span> -->
						<span class="userName">
							<span ng-hide="card.actions.length">since: </span>
							<span ng-show="card.actions.length">created: </span>
							<time am-time-ago='toDate(card.id)'></time>
						</span>

						<span class="lab" ng-hide="card.actions.length">
							
						</span>
						<span class="lab" ng-show="card.actions.length">
							<span class="thin">moved</span> <time am-time-ago='card.actions.length ? card.actions[0].date : toDate(card.id)'></time>
							<span class="thin">from</span> {{card.actions[0].data.listBefore.name}}
						</span>

						<button-group class="btn-group editBtn" ng-show="authenticated && comment.created_by === currentUser">
							<!-- <edit-btn></edit-btn>
							<del-btn></del-btn> -->
						</button-group>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="commentForm col-md-4 col-sm-5 col-xs-12" ng-show="authenticated">
			<div class="itemhead"><span>Submit Chirps</span></div>
			<form ng-Submit="post()">
				<div class="form-group">
					<span>@{{currentUser}} says,</span>
					<!-- <input required class="form-control" type="text" name="" placeholder="username" ng-model="newComments.username"> -->
				</div>
				<div class="form-group">
					<textarea name="" class="form-control" placeholder="Chirp here . . ." ng-model="newComments.text"></textarea>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-chirp">CHIRP!</button>
					<p class="text-error">{{error_message}}</p>
				</div>
			</form>
		</div>
	</div>
</section>